.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;  /* Centers horizontally */
  align-items: center;      /* Centers vertically */
  background-color: #191C27;
  background-size: cover;   /* Ensures the image covers the entire page */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}

.terminal {
  background-color: #D9D9D9;
  height: 670px;
  width: 1200px;
  border-radius: 15px;
  font-size: 14px;
  color: #dcdcdc;
  background-color: rgba(0, 0, 0, 0.15); /* Transparent black */
  backdrop-filter: blur(4px); /* Optional: adds a blur effect to the background */
  display: flex;
  flex-direction: column;
  transform: translateY(200px) scale(0.3);
  opacity: 0;
  transition: transform 1s cubic-bezier(0.22, 1, 0.36, 1), opacity 0.4s;
}

.terminal.pop-in {
  transform: translateY(0) scale(1);
  opacity: 1;
}

.terminal-container {
  overflow: hidden;
  padding: 40px;
}

.taskbar {
  background-color: #1C242D;
  border-radius: 15px 15px 0 0; /* Top-left, Top-right, Bottom-right, Bottom-left */
  height: 25px;
  width: 100%;
  overflow: hidden;
  position: relative; 
}

.taskbar-buttons {
  display: flex; 
  align-items: center;
  gap: 6px; 
  position: absolute;
  left: 12px; 
  top: 50%; 
  transform: translateY(-50%); 
}

.button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
} 

.button.red-button {
  background-color: #ff5f56; /* Red */
}

.button.yellow-button {
  background: #ffbd2e;
}

.button.green-button {
  background: #27c93f;
}


.code-container {
  font-family: 'JetBrains Mono', monospace;
  font-size: 18px;
  color: white;
  padding: 10px;
  overflow-y: auto;
  height: calc(100% - 20px); /* Adjust for taskbar height */
  overflow: hidden;
}

.code-line {
  display: flex;
  align-items: baseline;
  overflow: hidden;
}

.line-number {
  color: #888888;
  display: inline-block;
  user-select: none;
  display: inline-block;
  width: 30px;
  text-align: left;
  flex-shrink: 0;
}


.code-text {
  white-space: pre;
}

.clickHereLink:hover {
  cursor: pointer;
  color: #00c6cd;
}

/* ----- Responsive Settings ------ */

@media (max-width: 767.98px) { 
  .home {
    background-color: red;
  }
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
  .home {
    background-color: blue;
  }
}



/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
  .home {
    background-color: green;
  }
}


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) { 
  .home {
    background-color: purple;
  }
}

/* Beyond */
@media (min-width: 1400px) { 
 
}
