.about {
  width:100vw; 
  height: 100vh;
  background-color: #191C27;
  display: flex;
  justify-content: center;
}

.about-content {
  display: flex; 
  flex-direction: column;
  width: 80%;
  margin-top: 10%;
  height: 80%;
}

.about-row {
  display: flex; 
  flex: 1 1 auto; 
  width: 100%;
  height: 60%;
}

.left-content {
  flex: 0 0 60%;
  max-width: 60%;
  
}

.right-content {
  flex: 0 0 40%;
  max-width: 40%;
}

.lower-content {
  width: 100%; 
}

.left-content h1 {
  font-family: 'Outfit', sans-serif;
  color: #E2E8F0;
}

.left-content h2 {
  font-family: 'karla', sans-serif;
  color: #E2E8F0;
}

.left-content p {
  font-family: 'karla', sans-serif;
  color: #E2E8F0; 
  margin-top: 20px;;
}

.right-content {
  display: flex; 
  justify-content: center;;
}

.photo-container {
  width: 80%; 
  height: 80%; 
  display: flex; 
  align-items: center; 
  justify-content: center;
}

.photo-container img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 12px;
}

.lower-content p {
  color: royalblue;
}